# Dependências (nunca subir, são pesadas e baixadas via npm install)
node_modules/

# Arquivos gerados pelo Cypress durante os testes
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Logs de erro e sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Variáveis de ambiente sensíveis (senhas/tokens)
cypress.env.json
.env
